.rapp {
  text-align: center;
  background-color: black;
  margin-bottom: 20px;
  color: white;
}

.item {
  text-align: center;
  background-color: gray;
  margin-bottom: 20px;
  color: bisque;
  margin-top: 21px;
}
